/* @import 'tippy.js/dist/tippy.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Display';
    src: url('../fonts/neue-haas-display/NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'Neue Haas Display', sans-serif;
}
